/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining profiles with parameter presets specific to the Birneylab
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

profiles {
    stitch {
        process {
            withName:VCF_TO_PGEN {
                ext.args = "fill-missing-from-dosage --max-alleles 2 --min-alleles 2"
            }
        }
    }
    f2_crosses {
        process {
            withName:LOCO_GRM {
                ext.args   = "--make-king bin"
            }
            withName:FULL_GRM {
                ext.args = "--make-king bin"
            }
        }
    }
}
