/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining profiles with parameter presets specific to the Birneylab
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

profiles {
    medaka {
        process {
            withName:VCF_TO_PGEN {
                ext.args = "fill-missing-from-dosage --chr-set 24"
            }
            withName:ESTIMATE_FREQ {
                ext.args = "--chr-set 24"
            }
        }
    }
}
