/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
    withName:VCF_TO_PGEN {
        publishDir = [
            path: { "${params.outdir}/genotypes" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            mode: params.publish_dir_mode,
        ]
    }
    withName:ESTIMATE_FREQ {
        ext.when = { vcf }
    }
    withName:FULL_GRM {
        ext.args = '--maf 0.01'
        publishDir = [
            path: { "${params.outdir}/relatedness_matrix/full_genome" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            mode: params.publish_dir_mode,
        ]
    }
    withName:LOCO_GRM {
        ext.args = '--maf 0.01'
        publishDir = [
            path: { "${params.outdir}/relatedness_matrix/loco/${meta.chr}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            mode: params.publish_dir_mode,
        ]
    }
    withName:RELATEDNESS {
        publishDir = [
            path: {
                meta.chr ?
                "${params.outdir}/plots/relatedness_matrix/loco" :
                "${params.outdir}/plots/relatednss_matrix/full_genome"
            },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            mode: params.publish_dir_mode,
        ]
    }
    withName:TRANSFORM_PHENOTYPES {
        ext.prefix = 'transformed_phenotypes'
    }
    withName:MATCH_SAMPLES {
        publishDir = [
            path: { "${params.outdir}/model_matrices/${meta.pheno}/${meta.chr}/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            mode: params.publish_dir_mode,
        ]
    }
    withName:AIREML {
        publishDir = [
            path: { "${params.outdir}/variance_components/${meta.pheno}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            mode: params.publish_dir_mode,
        ]
    }
    withName:FIT_MODEL_ORIG {
        publishDir = [
            path: { "${params.outdir}/gwas/${meta.pheno}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            mode: params.publish_dir_mode
        ]
    }
    withName:GET_MIN_P_DISTRIBUTION {
        publishDir = [
            path: { "${params.outdir}/permutations" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            mode: params.publish_dir_mode
        ]
    }
    withName:MANHATTAN {
        publishDir = [
            path: { "${params.outdir}/plots/manhattan" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            mode: params.publish_dir_mode
        ]
    }
    withName:QQ {
        publishDir = [
            path: { "${params.outdir}/plots/qq" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            mode: params.publish_dir_mode
        ]
    }
}
