/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run birneylab/stitchimpute -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    vcf    = "${projectDir}/assets/test_data/vcf/in.vcf.gz"
    freq   = "${projectDir}/assets/test_data/vcf/in.vcf.gz"
    pheno  = "${projectDir}/assets/test_data/tsv/pheno.tsv"
    covar  = "${projectDir}/assets/test_data/tsv/covar.tsv"
    qcovar = "${projectDir}/assets/test_data/tsv/qcovar.tsv"

    // phenotypes options
    quantile_normalise = true

    // statistical models
    null_model_formula = "y ~ covar1 + qcovar1"
    model_formula      = "y ~ x + d + covar1 + qcovar1"
}
