ID_1 ID_2 missing sex
0 0 0 D
0 sample1 0 NA
0 sample2 0 NA
0 sample3 0 NA
0 sample4 0 NA
0 sample5 0 NA
0 sample6 0 NA
0 sample7 0 NA
0 sample8 0 NA
0 sample9 0 NA
0 sample10 0 NA
0 sample11 0 NA
0 sample12 0 NA
